.game {
	height: 100vh;
	background-image: url(./images/background.png);
	background-size: cover;
	overflow: hidden;
	position: relative;
	cursor: crosshair;
}

.score {
	float: right;
	height: 50px;
	text-align: center;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.lives {
	float: right;
	height: 50px;
	text-align: center;
	font-size: 20px;
}

.expolsion {
	background: url(./images/83208.png) no-repeat 0 -496px;
	width: 115px;
	height: 110px;
}